body {
  font-size: 18px;
  background-color: var(--blanco);
  height: 100%;
}

/* MENU BURGUER */

.toggle-menu {
  width: 7%;
  position: absolute;
  right: 8%;
  top: 2%;
  cursor: pointer;
  z-index: 10;
}

/* MENU LATERAL*/
.menu-lateral {
  transform: translateX(1000%);
  background: var(--blanco);
  height: 100vh;
  width: 65%;
  position: absolute;
  color: var(--gris);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27% 0 0 4%;
}

.menu-lateral--active {
  transition: ease all 0.2s;
  right: 0;
  transform: translateX(1em);
}

.menu-lateral-lista {
  display: flex;
  align-items: center;
  margin: 0.7rem;
  cursor: pointer;
}

.menu__opciones {
  display: flex;
  cursor: pointer;
  margin: 1em;
  padding-left: 1.2em;
  align-items: center;
}
.opciones--desactive {
  display: none;
}

/* OPCIONES FEATURES */
.features__logo {
  width: 10%;
  margin-right: 6%;
}

/* LOGO HEADER */

.header__logo {
  position: absolute;
  left: 3%;
  top: 3%;
  display: inline-block;
  width: 22%;
}

/* FLECHAS OPCIONES */
.opciones__icono {
  cursor: pointer;
  margin-left: 0.8em;
  width: 5%;
}
.flecha--desactive {
  display: none;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-top: 20%;
}

/* SECTION IMG*/

.section__container-img {
  max-width: 70vh;
  margin: 0 auto;
  margin-bottom: 10%;
}

/* SECTION TEXTO */

.section__title {
  font-size: 2.1rem;
  font-weight: 700;
}

.section__paragraph {
  font-size: 1.063rem;
  color: var(--gris);
  margin: 5% 2% 7% 3%;
  line-height: 1.5em;
}

/* SECTION BOTON */

.section__button {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  width: 36%;
  height: 3.4em;
  align-items: center;
  justify-content: center;
  background-color: var(--negro);
  border-radius: 15px;
  color: var(--blanco);
  margin-bottom: 5%;
  font-size: 14px;
}

.section__button:active {
  background-color: wheat;
  color: var(--negro);
  font-weight: bold;
  width: 34%;
  transition: ease all 0.2s;
}

.section__article {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* FOOTER LOGOS */

.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 7%;
}

.footer__logo {
  cursor: pointer;
  width: 15%;
}

/* LOGIN  */

.header__login {
  display: none;
}

@media (min-width: 550px) {
  .section {
    padding-top: 12%;
  }
  .section__container-img {
    width: 100%;
    margin-bottom: 5%;
  }

  .container__img {
    max-width: 70vh;
    margin: 0 auto;

    min-height: 20vw;
  }

  .section__button {
    margin-bottom: 0;
    width: 25%;
  }

  .section__paragraph {
    margin-bottom: 4%;
  }

  .footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%;
  }

  .footer__logo {
    cursor: pointer;
    width: 12%;
  }
}

@media (min-width: 768px) {
  .toggle-menu {
    width: 5%;
    right: 3%;
  }

  .header__logo {
    width: 13%;
  }

  .section {
    padding-top: 10%;
  }
  .section__container-img {
    width: 100%;
    margin-bottom: 5%;
  }

  .section__paragraph {
    margin: 2% 8% 2% 8%;
  }

  .footer {
    margin-top: 2%;
  }

  .footer__logo {
    width: 7%;
    margin-top: 2%;
  }

  .header__login {
    display: none;
  }

  .menu-lateral {
    width: 45%;
    padding: 17% 0 0 4%;
  }

  /* OPCIONES FEATURES */
  .features__logo {
    width: 8%;
  }

  /* FLECHAS OPCIONES */
  .opciones__icono {
    width: 4%;
  }

  .section__button:active {
    width: 24%;
  }
}

@media (min-width: 1020px) {
  /* BODY */
  body {
    height: 100vh;
  }
  /* HEADER */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95vw;
    margin: 0 0 0 0.8em;
  }
  /* LOGO SNAP */
  .header__logo {
    width: 8%;
    margin-top: 0.5em;
    position: inherit;
  }
  /* MENU NAVEGACIÓN*/
  .menu-lateral {
    all: revert;
    width: 75%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: var(--gris);
    margin-left: 0;
    padding: 1em;
  }

  .menu-lateral-lista {
    margin: 1rem;
    cursor: pointer;
  }

  /* FLECHAS MENU NAV*/
  .opciones__icono {
    cursor: pointer;
    margin-left: 0.45em;
    width: 100%;
  }
  /* MENU OPCIONES SECUNDARIAS */
  .menu__opciones-div {
    font-size: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(158, 154, 154, 0.555);
    background-color: white;
    top: 5.8em;
  }

  .menu__opciones-div-features {
    height: 10.3em;
    width: 10em;
    left: 5.9%;
  }

  .menu-lateral--active {
    transition: none;
  }

  .menu__opciones-div-company {
    height: 8em;
    width: 7.5em;
    left: 23%;
  }

  .menu__opciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.6em;
    padding: 0;
    margin-left: 4em;
  }

  .features__logo {
    width: 10%;
    margin-right: 8%;
  }
  /* MENU RESPONSIVE */
  .toggle-menu {
    display: none;
  }
  /* COLO NEGRO */
  .black {
    color: black;
  }
  /* LOGIN Y REGISTRER */
  .header__login {
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }

  .login__element {
    cursor: pointer;
    padding: 0.6em 1.3em 0.6em 1.3em;
    margin: 0.7em;
    color: var(--gris);
  }

  .login__element:active {
    color: black;
  }

  .login__element-registrer {
    border: 1.5px solid var(--gris);
    border-radius: 10px;
  }

  .login__element-registrer {
    border: 1.5px solid black;
  }
  /* ABOUT OPCIONES NAV */
  .about {
    cursor: pointer;
  }

  .about:active {
    color: black;
  }
  /* SECTION */
  .section {
    all: revert;
    margin: 0 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
  }
  /* IMAGEN DESKTOP */
  .section__container-img {
    grid-column: 2/3;
    width: 95%;
    margin: 1.5em auto;
    margin-left: 5em;
  }

  .container__img {
    width: 100%;
  }

  /* ARTICLE */
  .section__article {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 5.5em;
    margin-left: 4.7em;
  }

  /* H1 SECTION*/
  .section__title {
    font-size: 3em;
    margin: 0;
    margin-bottom: 0.38em;
  }

  .title__span {
    display: block;
  }

  .section__paragraph {
    margin: 0;
    margin-right: 2.5em;
    line-height: 1.5em;
    margin-bottom: 2em;
  }

  /* BUTTON DESKTOP */
  .section__button {
    margin: 0;
    height: 3em;
    width: 38%;
    font-size: 15px;
  }

  .section__button:active {
    width: 38%;
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid black;
    transition: ease all 0.2s;
  }
  /* FOOTER */

  .footer {
    all: revert;

    width: 100%;

    margin-top: 3em;
  }

  .footer__logo {
    display: inline-block;
    margin-right: 2em;
    width: 13%;
    height: auto;
    max-height: 1.5em;
  }
}

@media (min-width: 1200px) {
  .section__container-img {
    grid-column: 2/3;
    width: 100%;
    margin: 1.5em auto;
    margin-left: 5em;
  }

  .section__article {
    margin-top: 4.5em;
    margin-left: 4.8em;
  }

  .container__img {
    width: 80%;
  }

  .menu-lateral {
    font-size: 18px;
    margin-left: 0;
  }

  .header {
    width: 90vw;
    margin: 0 0 0 3em;
  }

  .menu__opciones-div-features {
    height: 11.3em;
    width: 10.5em;
    left: 9%;
  }

  .menu__opciones-div-company {
    height: 9em;
    width: 8.5em;
    left: 21.8%;
  }

  .section {
    margin: 0 auto;
    width: 87%;
  }
  .section__title {
    font-size: 4em;
    margin-bottom: 0;
  }

  .section__paragraph {
    margin: 0;
    margin-right: 10em;
    line-height: 1.5em;
    margin-bottom: 0;
  }

  .section__button {
    width: 25%;
    font-size: 17px;
  }

  .section__button:active {
    width: 25%;
  }

  .footer {
    margin-top: 0;
  }

  .footer__logo {
    display: inline-block;
    margin-right: 2em;
    width: 14%;
    height: auto;
    max-height: 1.5em;
  }
}

/* HEADER LOGIN */
.desactive {
  display: none;
}
